@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
  font-family: "Exo 2", sans-serif;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 70px;
}

.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: rgba(201, 213, 248, 1);
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px 12px 0;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: center;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 32px;

  gap: 28px;
  background: rgba(201, 213, 248, 1);
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Exo 2;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0%;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}
.navigation__link:hover,
.navigation__link:focus {
  font-family: Exo 2;
  font-weight: 600;
  font-size: 24px;
  line-height: 22px;
  letter-spacing: 0%;
}
.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}
.navigation__item-two {
  margin-top: -24px;
}
@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .navigation__item-two {
    margin-top: 0px;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }

  .header {
    width: 100%;

    height: 90px;
    padding: 10px 0px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 60px 0px rgba(255, 255, 255, 0.15) inset;

    backdrop-filter: blur(15px);

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 45px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    font-family: Exo 2;
    font-weight: 600;
    font-size: 24px;
    line-height: 22px;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);

    text-decoration: none;
  }
  .navigation__link:hover,
  .navigation__link:focus {
    color: #ffffff;
  }
  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 819px;
  padding: 218px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Frame\ 125.png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-title {
  font-family: Exo 2;
  font-weight: 900;
  font-size: 24px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;

  color: rgba(254, 232, 1, 1);
}

.home-text {
  font-family: Exo 2;
  font-weight: 900;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0%;
  padding: 32px;
  color: rgba(255, 255, 255, 1);
}
.home__google-button_image {
  width: 208px;
  height: 54px;
}
.home__google-button_link:hover .home__google-button_image {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 1023px;
    padding: 210px 0px 0px;
    background-image: url("/img/home/Frame\ 126.png");
  }
  .home__container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .home-title {
    font-family: Exo 2;
    font-weight: 900;
    font-size: 43px;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
  }

  .home-text {
    font-family: Exo 2;
    font-weight: 900;
    font-size: 30px;
    line-height: 22px;
    letter-spacing: 0%;
  }
}
.about {
  padding: 44px 19px 0px;
  margin: auto;
  width: 375px;
}

.about-title {
  font-family: Exo 2;
  font-weight: 900;
  font-size: 24px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;

  color: rgba(254, 232, 1, 1);
}

.about-text {
  font-family: Exo 2;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;

  padding: 26px 0px 0;
}

@media screen and (min-width: 1200px) {
  .about {
    padding: 100px 108px 0;
    width: 1440px;
  }
  .about-title {
    font-family: Exo 2;
    font-weight: 900;
    font-size: 36px;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
  }

  .about-text {
    font-family: Exo 2;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;

    padding: 48px 0px 0;
  }
}
.how {
  width: 375px;
  margin: auto;
  padding: 80px 19px 0;
}

.how-list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.how-item {
  border-radius: 16px;

  background: rgba(255, 216, 196, 1);

  border: 1px solid rgba(0, 0, 0, 1);
}

.how-text-bold {
  font-family: Exo 2;
  font-weight: 900;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
  width: 50px;
  height: 50px;
  border-radius: 16px;
  background: rgba(254, 64, 69, 1);
  border: 1px solid rgba(0, 0, 0, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.how-text {
  font-family: Exo 2;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  padding: 10px 24px 24px;
}

@media screen and (min-width: 1200px) {
  .how {
    width: 1440px;
    padding: 120px 220px 0;
  }
  .how-list {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
  }
  .how-item {
    width: 448px;
    height: 219px;
    border-radius: 16px;
  }

  .how-text-bold {
    width: 76px;
    height: 76px;
    border-radius: 16px;
    font-family: Exo 2;
    font-weight: 900;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .how-text {
    font-family: Exo 2;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;

    padding: 10px 24px 24px;
  }
}

.reviews {
  width: 375px;
  margin: auto;
  padding: 80px 0px 0;
}

.reviews-list {
  padding-top: 32px;
}
.reviews-item {
  width: 300px;
  height: 265px;
  margin: 10px 0 0 5px;
}
.reviews-item-top {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 274.72283935546875px;
  height: 60px;
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 10px;
  background: rgba(254, 64, 69, 1);
  position: relative;
  z-index: 10;
}
.reviews-img {
  width: 52.282249450683594px;
  height: 52.282249450683594px;
  border-radius: 6px;
  margin-top: -18px;
  margin-left: -25px;
}
.reviews-text-bold {
  font-family: Exo 2;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

.reviews-item-two {
  width: 274.72283935546875px;
  height: 205px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  padding: 24px;
  background: rgba(255, 216, 196, 1);
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 1);
  position: relative;
  z-index: 1;
  margin-top: -8px;
}
.reviews-text {
  font-family: Exo 2;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  height: 72px;
  margin-bottom: 16px;
}
@media screen and (min-width: 1200px) {
  .reviews {
    width: 1440px;
    padding: 120px 0px 0;
  }
  .reviews-list {
    padding-top: 38px;
  }
  .reviews-item {
    width: 451px;
    height: 265px;

    margin: 20px 0 0 12px;
  }
  .reviews-item-top {
    gap: 35px;

    width: 413px;
    height: 60px;
    border-radius: 10px;
  }
  .reviews-img {
    width: 75px;
    height: 75px;
    border-width: 1px;
    border-radius: 6px;

    margin-top: -8px;
    margin-left: -38px;
  }
  .reviews-text-bold {
    font-family: Exo 2;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .reviews-item-two {
    width: 413px;
    height: 205px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    padding: 24px;

    margin-top: -8px;
  }
  .reviews-text {
    font-family: Exo 2;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;

    height: 108px;
    margin-bottom: 16px;
  }
}

.faq {
  padding: 80px 19px 0px;
  margin: auto;
  width: 375px;
}
.faq-container {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.faq-item {
  border-radius: 10px;
  padding-top: 16px;
  padding-right: 31px;
  padding-bottom: 16px;
  padding-left: 16px;
  background: rgba(201, 213, 248, 1);
  border: 1px solid rgba(255, 255, 255, 1);
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: Exo 2;
  font-weight: 700;
  font-size: 16px;
}

.toggle-button {
  background: none;
  border: none;

  cursor: pointer;
}

.faq-answer {
  display: none;
  padding-top: 16px;
  font-family: Exo 2;
  font-weight: 400;
  font-size: 16px;
}
@media screen and (min-width: 1200px) {
  .faq {
    padding: 120px 368px 0;
    width: 1440px;
  }
  .faq-container {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .faq-item {
    border-radius: 10px;
    padding-top: 16px;
    padding-right: 31px;
    padding-bottom: 16px;
    padding-left: 16px;
    background: rgba(201, 213, 248, 1);
    border: 1px solid rgba(255, 255, 255, 1);
  }

  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Exo 2;
    font-weight: 700;
    font-size: 24px;
  }

  .faq-answer {
    font-family: Exo 2;
    font-weight: 400;
    font-size: 24px;
  }
}
.gallery {
  width: 375px;
  margin: auto;
  padding: 80px 0px 40px;
}

.gallery__list {
  width: auto;
  padding-top: 36px;
  margin: auto;
}
.gallery__item {
  width: 235px;
  height: 418px;
  overflow: hidden;
  position: relative;
  margin: 0 4px;
}
.gallery-item {
  display: none;
}
.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 1200px) {
  .gallery {
    width: 1440px;
    padding: 120px 0;
  }
  .gallery__list {
    display: none;
  }

  .gallery-item {
    display: flex;
    width: 1076px;
    height: 674.2431640625px;
    margin: auto;
    margin-top: 48px;
  }
  .gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
.features {
  width: 375px;
  margin: auto;
  padding: 80px 19px 0px;
}

.features-list {
  padding-top: 36px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.features-item {
  display: flex;
  align-items: start;
  gap: 16px;
}
.features-img {
  width: 47px;
  height: 47px;
}
.features-text-bold {
  font-family: Exo 2;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}
.features-text {
  font-family: Exo 2;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .features {
    width: 1440px;
    padding: 120px 289px 0px;
  }
  .features-list {
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .features-item {
    display: flex;
    align-items: start;
    gap: 16px;
  }
  .features-img {
    width: 78px;
    height: 78px;
  }
  .features-text-bold {
    font-family: Exo 2;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .features-text {
    font-family: Exo 2;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
  }
}
.footer {
  padding: 40px 32px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 30px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-text {
  font-family: Exo 2;
  font-weight: 400;
  font-size: 16px;

  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;

  color: rgba(0, 0, 0, 1);
}

.footer-copyright {
  font-family: Exo 2;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer {
    width: 1440px;
    margin: auto;
  }
  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 19px;
  }
  .footer-text {
    font-family: Exo 2;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 1%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
  }

  .footer-copyright {
    font-family: Exo 2;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 1%;
    text-align: center;
  }
}

.policy-terms-container {
  padding: 124px 16px 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
}
.policy-terms-title {
  font-weight: 900;
  font-size: 24px;
  line-height: 22px;
  letter-spacing: 0%;
  color: rgba(254, 232, 1, 1);
  text-align: center;
}

.policy-terms-text {
  padding-top: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
}
.policy-terms-texts {
  padding-top: 8px;
}
.policy-terms-text-one {
  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;
  padding: 20px 0 20px 25px;
  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;
  padding-left: 25px;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 200px 108px 100px;
    width: 1440px;
    margin: auto;
    font-family: Exo 2;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .policy-terms-title {
    font-family: Exo 2;
    font-weight: 900;
    font-size: 36px;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
  }

  .policy-terms-text {
    padding-top: 40px;
    font-family: Exo 2;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .policy-terms-texts {
  }
  .policy-terms-text-one {
    padding-top: 30px;
  }

  .terms-list {
    padding: 20px 0 20px 25px;
  }
}

.cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;

  padding: 40px 28px;
  background: rgba(201, 213, 248, 1);

  z-index: 1000;

  display: none;
}

.cookie-popup-text-two {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;

  color: rgba(0, 0, 0, 1);
}
.cookie-button-container {
  padding: 24px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.cookie-button {
  border: none;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 1);
  box-shadow: 0px 1px 3px 0px rgba(0, 79, 182, 1);

  width: 319px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 8px;

  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 1);
}
#accept-cookies {
  background: rgba(255, 255, 255, 1);
  box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
}
.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .cookie-popup-text-two {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .cookie-button-container {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 16px;
  }
  .cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;

    padding: 32px;
    display: none;
  }
}
